<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .headcontainer {
        display: flex;
        align-items: center;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        max-width: 10%;
        max-height: 10%;
        float: right;
      }

      .text {
        font-size: 20px;
      }
        .divflex{
            overflow:hidden;
        }
        .anchorflex{
            display: flex;
            align-items: center;
        }
    </style>
  </head>
  <body>
    <br />
    <br />
    <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4n_urpJ9XpwOTdzBVbGvactwHrPagYQrTJPYjxfxLGkSyu7nJZVqRVGAeohnPgKMrnKE&usqp=CAU" />
        <h1 style="color: DeepSkyBlue; font-size:50px">Welcome to ChirpSearch</h1>
    </div>
    <br />
    <br />
    <br />
    <form>
      <div class="container">
        <td><input style="width: 500px;" type="text" name="searchstring" placeholder="Search the chirp"></td>&nbsp;&nbsp;&nbsp;
        <td><input type="submit" value="Search" size="1000" formaction="http://localhost:5001/search" formmethod="post"></td>
      </div>
        <br/>
        <div class="container">
          <td>
              <a href='http://localhost:5001/topDetails?reqtype=users'>Get Top 10 Users</a>
          </td>&nbsp;&nbsp;&nbsp;
          <td>
              <a href='http://localhost:5001/topDetails?reqtype=tweets'>Get Top 10 Tweets</a>
          </td>
      </div>
      <div>
        {% if data!="" %}
        {% for item in data %}
        <div class="anchorflex">
            <p><b>User : </b></p>
            <a href='http://localhost:5001/user?user={{item.user_name}}' name="user">{{ item.user_name }}</a>
        </div>
          <p><b>Tweet : </b>{{ item.text }}</p>
          <p><b>Created at : </b>{{item.created_at}}</p>
        <div class="anchorflex">
            <p><b>Retweet Count : </b></p>
            <a href='http://localhost:5001/retweets?tweetid={{item.id_str}}' name="retweet">{{ item.retweet_count }}</a>
        </div>
        <div class="anchorflex">
            <p><b>HashTag : </b> </p>
            {% for hashtag in item.hashtags %}
            <a href='http://localhost:5001/hashtag?hashtag={{hashtag}}' name="hashtag">{{ hashtag }}</a>
            {% endfor %}
        </div>
        <hr>
        {% endfor %}
        {% endif %}
        {% if userdata!="" %}
        {% for usr in userdata %}
        <p>User Name : {{usr.name}}</p>
        <p>User Screen Name : {{usr.screen_name}}</p>
        <p>No. of Followers : {{usr.followers_count}}</p>
        <p>Following : {{usr.friends_count}}</p>
        <a href='http://localhost:5001/userTweet?userid={{usr.user_id_str}}' name="usertweet">Tweets made : {{usr.statuses_count}}</a>
        <p>No. of Tweets Liked : {{usr.favourites_count}}
        {% endfor %}  
        {% endif %}
      </div>
    </form>
  </body>
</html>
